.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 28, 39, 0.25);
  z-index: 500;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 530px;
  }

  .nameForm {
    font-size: 36px;
    padding-top: 121px;
  }
}

.modal {
  padding: 15px;
  width: 420px;
  position: relative;
  background-color: #ffffff;
  z-index: 550;
  text-align: center;
  color: #181c27;
}

.nameForm {
  padding-top: 63px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.04em;
}

.cancelBtn {
  border: 0;
  background-color: transparent;
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.cancelBtn:focus,
.cancelBtn:hover {
  color: #585858;
}

.closeBtn {
  border: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}

.closeBtn:focus,
.closeBtn:hover {
  color: #585858;
}
