.addBtn {
  background-color: #6495ed;
  border: none;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 22px;
  height: 44px;
  padding-left: 44px;
  padding-right: 44px;
}

.addBtn:focus,
.addBtn:hover {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  outline: none;
  box-shadow: 0px 10px 15px rgb(148, 148, 148);
  background-color: #a7c1f3;
}
